<!--<app-navbar></app-navbar>-->
<section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
<!--        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>-->
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>

<!-- ----------------------------------------------------------
 <h2>Appointment list</h2>

 -->

<div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Date</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<tr *ngFor="let appointment of appointments">
    <td>{{appointment.id}}</td>
    <td>{{appointment.title}}</td>
    <td>{{appointment.date}}</td>
    <td>{{appointment.user}}</td>
    <td>
        <button (click)="UpdateAppointment(appointment.id)" class ="btn btn-info">Update</button>
        <button (click)="deleteAppointment(appointment.id)" class ="btn btn-danger" style="margin-left: 10px">Delete</button>
    </td>

</tr>
    </tbody>
</table>
    </div>
